* {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 24px;
    background-color: #F8EEE7;
}

h1 {
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 30px;
}

.links-list {
    display: table;
    margin: 0 auto;
}

.credits {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: auto;
}

#home-link {
    background-color: chocolate;
    color: whitesmoke;
    padding: 15px;
}
