* {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 24px;
}

h1 {
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 30px;
}

.links-list {
    display: table;
    margin: 0 auto;
}

.credits {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}